<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site_config.site_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('index') }}">~/{{ site_config.site_name }}</a> <span style="font-size: 0.4em; color: var(--border-color);">{{ site_config.site_version }}</span></h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>